<!doctype html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragment/header :: headerFragment"></th:block>
</head>

<body id="wrap">
	<header id="header">
		<div class="head">
			<div class="h1"><span>팬케이크 탈퇴</span></div>
			<div class="pre"><a href="javascript:history.back()"><span class="skip">뒤로가기</span></a></div>
			<div class="btn skip">
				<button type="button" class="bt searchOpen"><img src="../img/i_search.png" alt="검색"></button>
				<a href="alarm.html" class="bt"><img src="../img/i_alarm.png" alt="알림"></a>
			</div>
			<div class="search">
				<div class="close"><i></i></div>
				<div class="input">
					<form>
						<input type="text" placeholder="인플루언서명을 입력해주세요">
						<button type="submit"></button>
						<div class="list">
							<ul>
								<li>
									<a href="#">
										<div class="ico"><img src="../img/m_prof1.png" alt=""></div>
										<div class="txt"><span class="on">연</span><span class="on">나</span><span>비</span></div>
									</a>
								</li>
							</ul>
						</div>
					</form>
				</div>				
			</div>
			<script>
				$(".searchOpen").click(function(){
					$("#header .search").addClass("sel");
				});
				$("#header .search .close").click(function(){
					$("#header .search").removeClass("sel");
				});
				$("#header .search .input input").focus(function(){
					$(this).siblings(".list").addClass("sel");
				});
				$("#header .search .input input").blur(function(){
					$(this).siblings(".list").removeClass("sel");
				});
			</script>
		</div>
	</header>
	<main id="container">
		<div class="unregister">
			<form method="post" th:action="@{/mypage/unregister}" >
				<div class="cons">
					<div class="tit">팬케이크를 탈퇴하면</div>
					<div class="txt">내 프로필, 내 정보, 구입한 아이템 등, 그외 사용자가 설정한 모든 정보가 사라지고 복구가 불가능합니다.<br><br>팬케이크를 탈퇴하면 탈퇴된 팬케이크 정보 및 이용기록 등은 복구할 수 없습니다.</div>
					<div class="chk">
						<input type="checkbox" id="unreg" name="unreg">
						<label for="unreg">
							<i></i>
							<span>위 내용을 모두 확인하였으며 탈퇴에 동의합니다.</span>
						</label>
						<p class="error_msg" th:if="${resultUnreg}" th:text="${resultUnreg}"></p>
						<p class="error_msg" th:if="${resultErr}" th:text="${resultErr}"></p>
					</div>
				</div>
				<div class="bot_bt">
					<button type="submit" class="btn bt_unreg">탈퇴하기</button>
				</div>
			</form>
		</div>
	</main>
</body>
</html>
