<!doctype html>
<html  xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragment/header :: headerFragment"></th:block>
</head>
<body id="wrap">
	<header id="header">
		<div class="head">
			<div class="h1"><span>Facebook으로 로그인</span></div>
			<div class="pre skip"><a href="javascript:history.back()"><span class="skip">뒤로가기</span></a></div>
			<div class="btn">
				<a href="javascript:window.close()" class="bt"><img src="../img/i_close.png" alt="닫기"></a>
			</div>
			<div class="search">
				<div class="close"><i></i></div>
				<div class="input">
					<form>
						<input type="text" placeholder="인플루언서명을 입력해주세요">
						<button type="submit"></button>
						<div class="list">
							<ul>
								<li>
									<a href="#">
										<div class="ico"><img src="../img/m_prof1.png" alt=""></div>
										<div class="txt"><span class="on">연</span><span class="on">나</span><span>비</span></div>
									</a>
								</li>
							</ul>
						</div>
					</form>
				</div>				
			</div>
			<script>
				$(".searchOpen").click(function(){
					$("#header .search").addClass("sel");
				});
				$("#header .search .close").click(function(){
					$("#header .search").removeClass("sel");
				});
				$("#header .search .input input").focus(function(){
					$(this).siblings(".list").addClass("sel");
				});
				$("#header .search .input input").blur(function(){
					$(this).siblings(".list").removeClass("sel");
				});
			</script>
		</div>
	</header>
	<main id="container">
		<div class="facebook">
			<form action="login_fb2.html">
				<div class="access">
					<div class="img"><img src="../img/fancake.png" alt=""></div>
					<div class="tit">팬케이크에서 다음에 대한 액세스 권한을 요청합니다.</div>
					<div class="txt">회원님의 이름 및 프로필 사진, 이메일 주소.</div>
					<div class="act"><a href="#"><img src="../img/i_access.png" alt=""><span>액세스 권한 수정</span></a></div>
				</div>
				<div class="info">
					<div class="tit">이 공유에 대한 추가 정보:</div>
					<div class="txt">
						<ul>
							<li>Cake에서 받는 정보를 수정할 수 있습니다. '취소'를 선택하여 공유하지 않고 종료 할 수 있지만 Cake앱에서 Facebook 로그인을 사용할 수 없습니다.</li>
							<li>Cake에서 회원님이 공유한 정보를 서비스 기간에 자체 <a href="#">개인정보처리방침</a> 및 <a href="#">약관</a>에 따라 사용자 식별 및 기타 목적으로 사용할 수 있습니다.</li>
							<li>동의하면 회원님이 공유한 정보가 온라인 전송을 통해 즉시 해외로 전송될 수 있습니다.</li>
						</ul>
					</div>
				</div>
				<div class="bot_bt">
					<ul>
						<li><a href="#" class="btn bt_cancel">취소</a></li>
						<li><button type="submit" class="btn bt_agree">동의 후 계속하기</button></li>
					</ul>
				</div>
			</form>
		</div>
	</main>
</body>
</html>
