<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

  <th:block th:fragment="content">
    <h1 class="mt-4">member view page</h1>

      <div class="form-group">
        <label >mbno</label>
        <input type="text" class="form-control" name="mbemail" th:value="${dto.mbno}" readonly >
      </div>

      <div class="form-group">
        <label >nick</label>
        <input type="text" class="form-control" name="mbnick" th:value="${dto.mbemail}" readonly>
      </div>

      <div class="form-group">
        <label >phone</label>
        <input type="text" class="form-control" name="mbhp" th:value="${dto.mbhp}" readonly>
      </div>

      <a th:href="@{/memberalarm/modify(mbno=${dto.mbalarmseq},page=${requestDTO.page})}">
        <button type="button" class="btn btn-outline-primary">modify</button>
      </a>

      <a th:href="@{/memberalarm/list}">
        <button type="button" class="btn btn-outline-primary">목록</button>
      </a>

  </th:block>

</th:block>